---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Mounish's Blog">
  <div class="container background">
    <h1 class="title">Coming Soon</h1>
  </div>
</Layout>

<style>
	.container {
		margin: 0;
		top: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
    justify-content: center;
	}
	.background {
		height: 100vh;
		width: 100vw;
		background: rgb(168,0,201);
		background: linear-gradient(113deg, rgba(168,0,201,1) 0%, rgba(28,91,143,1) 59%, rgba(18,149,147,1) 91%);
	}
  @font-face {
    font-family: LaBelle;
    src: url(./../styles/assets/fonts/LaBelleAurore-Regular.ttf) format("truetype");
  }
  .title {
    font-family: LaBelle, cursive;
    font-weight: 400;
    font-size: 56px;
    color: #f0f0f0;
  }
</style>
